[profile.release]
codegen-units = 1
opt-level = 3
lto = "fat"
panic = "abort"
debug = true

[build]
rustflags = ["-C", "target-cpu=native", "-C", "force-frame-pointers"]

[unstable]
build-std = ["libc", "core", "std", "alloc", "panic_abort"]
